@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: lightgray;
  color: white;
}


